.container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;

  width: calc(100% - (2 * 20px));
  max-width: 720px;
  height: calc(100% - (2 * 20px));
  max-height: 560px;

  padding: 12px;
  border-radius: 20px;
  box-shadow: 0 0 12px 10px #00000014;

  background-image: #ffffff50;
  backdrop-filter: blur(14px);

  display: flex;
  gap: 8px;
}

.sidebar {
  flex: 1;
  min-width: 0;

  @media only screen and (max-width: 640px) {
    display: none;
  }
}

.main {
  flex: 4;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.chats {
  flex: 1;
  min-height: 0px;
  display: flex;
}

.chatsContainer {
  flex: 4;
  min-width: 0px;
  display: flex;
  flex-direction: column;
}

.avatarContainer {
  flex: 2;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media only screen and (max-width: 540px) {
    display: none;
  }
}

.avatar {
  margin-right: -28px;
  filter: drop-shadow(0px -4px 8px #00000037);
}

.inputBarContainer {
  position: relative;
}

.suggestedPromptsContainer {
  position: absolute;
  bottom: calc(100% + 12px);
  right: 0;
  left: 0;

  overflow: scroll;
  display: flex;
  gap: 12px;

  mask-image: linear-gradient(to right, #000, #000, #000000a6);
  z-index: 11;

  &::-webkit-scrollbar {
    display: none;
  }
}

.suggestedPrompt {
  height: 28px;
  border-radius: 28px;
  text-wrap: nowrap;
  background: rgba(255, 255, 255, 0.7);
  padding: 4px 18px;

  box-shadow: 0 0 13px 3px #00000017;

  cursor: pointer;
}
