.card {
  flex-shrink: 0;
  width: 108px;
  padding: 8px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
}

.image {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  border-radius: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 600;

  display: -webkit-box;
  max-width: 200px;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
