.main {
  padding: 12px;

  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 10px), repeating-linear-gradient(#444df72f, #444df76a);
}

.productsContainer {
  padding-top: 72px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: auto;
}
