.chat-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  width: 675px;
  background-color: #ffffffda;
  /* filter: blur(10); */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-bubble {
  padding: 20px;
}

.bot-message,
.user-message {
  margin: 0;
  padding: 10px;
  border-radius: 20px;
}

.bot-message {
  background-color: #e0e0e0;
  margin-bottom: 10px;
}

.user-message {
  background-color: #cce5ff;
  margin-bottom: 10px;
}

.product-grid {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  overflow: scroll;
}

.product {
  text-align: center;
}

.product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.product-name {
  font-weight: bold;
  margin: 5px 0;
}

.product-price {
  color: #333;
  margin: 5px 0;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.footer {
  display: flex;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.voice-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
}

.voice-button:hover {
  text-decoration: underline;
}

.emoji {
  font-size: 1.2em;
}

.productName {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.input {
  flex: 1;
  height: 32px;
  border-radius: 8px;
  border-color: grey;
}
