.container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;

  width: calc(100% - (2 * 20px));
  max-width: 720px;
  height: calc(100% - (2 * 20px));
  max-height: 560px;

  padding: 12px;
  border-radius: 20px;
  box-shadow: 0 0 12px 10px #00000014;

  background-image: #ffffff50;
  backdrop-filter: blur(14px);

  display: flex;
}

.chats {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.avatar {
  max-width: 240px;
  margin-right: -28px;
  margin-left: -60px;
}

.inputBarContainer {
  position: relative;
}

.suggestedPromptsContainer {
  position: absolute;
  bottom: calc(100% + 12px);
  right: 0;
  left: 0;

  overflow: scroll;
  display: flex;
  gap: 12px;

  mask-image: linear-gradient(to right, #000, #000, #00000059);
  z-index: 11;

  &::-webkit-scrollbar {
    display: none;
  }
}

.suggestedPrompt {
  height: 28px;
  border-radius: 28px;
  text-wrap: nowrap;
  background: rgba(255, 255, 255, 0.7);
  padding: 4px 18px;
}
